@import "gridstack/dist/gridstack.min.css";
@import "gridstack/dist/gridstack-extra.min.css";
.grid-stack {
  .grid-stack-item-content {
    background-color: #18bc9c;
  }

  .grid-stack-item {
    &-resizable-handle {
      position: absolute;
      z-index: 101;
      border-radius: 50%;
      background-color: #007bff;
      width: 12px;
      height: 12px;
    }

    &-resizable-se {
      right: -6px;
      bottom: -6px;
    }
    &-resizable-sw {
      bottom: -6px;
      left: -6px;
    }
    &-resizable-ne {
      top: -6px;
      right: -6px;
    }
    &-resizable-nw {
      top: -6px;
      left: -6px;
    }

    &-resizable-handle:hover {
      background-color: #0056b3;
    }
  }
}
