<header class="header">
  <div class="header__logo">
    <img class="header__logo-image" src="assets/logo.svg" alt="Logo" />
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-link"
          routerLink="/home"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-link"
          routerLink="/gridstack-example"
          routerLinkActive="active"
          >Gridstack</a
        >
      </li>
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-link"
          routerLink="/about"
          routerLinkActive="active"
          >About</a
        >
      </li>
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-link"
          routerLink="/contact"
          routerLinkActive="active"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
