input, textarea{
    border: 4px solid #059669;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

:host{
    border: 4px solid #e98616;
    border-radius: 5px;
    padding: 5px;
    margin-block: 10px;
    display: block;
}