.home-wrapper {
  // border: 1px solid red;
  &__gridstack {
    // height: 100% !important;
  }
}

.grid-stack-item-content {
  // position: relative;
  // box-shadow:
  //   rgba(60, 64, 67, 0.726) 0px 1px 2px 0px,
  //   rgba(60, 64, 67, 0.712) 0px 1px 3px 1px;
  // border-radius: 8px;
  // overflow-x: hidden !important;
  // overflow-y: hidden !important;
  background-color: #18bc9c;
}
.handle {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: grab;
  background-color: red;
  aspect-ratio: 1;
  width: 20px;
}
